# 依赖目录
node_modules/

# 下载的图片和压缩包
*.zip

# 环境配置
.env

# 系统文件
.DS_Store
Thumbs.db

# 日志文件
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE 配置文件
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# 临时文件
*.tmp
*.temp